  <style>
        .demo {
            background-color: #387499;
            border: none;
            color: white;
            padding: 15px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
  <a href="/" class="demo">Home</a>
    <a href="/signupForEmail" class="demo">Sign up For Email</a>
    <a href="/customEmail" class="demo">Custom Email</a>

