<a href="/">Home</a> | 
<a href="/country/display">Country</a> | 
<a href="/country/add">Country Add</a> |
<a href="/country/display">Country Display</a> |
<a href="/state/display">State</a> | 
<a href="/state/add">State Add</a> |
<a href="/state/display">State Display</a> |
<a href="/city/display">City</a> | 
<a href="/city/add">City Add</a> |
<a href="/city/display">City Display</a>
{{{body}}}
