<html>
<body>
 <a href="/country/add">Country Add</a> | <a href="/country/display">country Display</a>


    <form method="post">
        <h1>Add Record</h1>
        <table>
            <tr>
                <td> Country Name</td>
                <td> <input type="text" placeholder="Enter country" name="country_name"></td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>