<html>
    <body>
        <table border="1">
            <tr>
                <th>Message</th>
            </tr>
            {{#each chatData}}
                <tr>
                    <td>{{message}}</td>
                </tr>
            {{/each}}
        </table>
    </body>
</html>