
    <h1>User Data</h1>
        <table border="2px"> 
            <tr>
                <th> Name</th>
               <td>{{name}}</td>
            </tr>
            <tr>
                <th> E-mail</th>
               <td>{{email}}</td>
            </tr>
        </table>

