
        <form  method="POST">
            <label for="">Name</label>
            <input type="text" name="name" value={{mydata.name}} placeholder="Enter a name"><br>
            <label for="">Mobile</label>
            <input type="text" name="phno" value={{mydata.ph_no}} placeholder="Enter a number"><br>
            <input type="submit">
            <a href="/display"><input type="button" name="Display" value="Display"></a>
        </form>