
        <form action="students/add" method="POST">
            <label for="">Name</label>
            <input type="text" name="name" placeholder="Enter a name"><br>
            <label for="">E-mail</label>
            <input type="text" name="email" placeholder="Enter a email"><br>
            <label for="">Enrollment number</label>
            <input type="text" name="en_no" placeholder="Enter a enrollment number"><br>
            <label for="">Department</label>
            <input type="text" name="dept" placeholder="Enter a department"><br>
            <label for="">Mobile</label>
            <input type="text" name="phno" placeholder="Enter a number"><br>
            <input type="submit">
            <a href="/display"><input type="button" name="Display" value="Display"></a>
        </form>
