<!DOCTYPE html>
<html>
<head>
    <title>Express-Validator Demo</title>
</head>
<body>
<h1>Sample Form</h1>
<form action="saveUser" method="POST">
EMAIL_ID: <input type="text" name="user_email"> <br>
PASSWORD: <input type="password" name="user_password"> <br>
<input type="submit" value="submit">
</form>
</body>
</html>