<div class="post">
				<h2 class="title"><a href="#">about</a></h2>
				<div style="clear: both;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<table align="center" border="2px" style="height: 300px; width:550px">
						<tbody><tr>
							<th>Name</th>
							<td>Parita Ganatra</td>
						</tr>
						<tr>
							<th>D.O.B</th>
							<td>23-02-2000</td>
						</tr>
						<tr>
							<th>Phone</th>
							<td>6355847685</td>
						</tr>
						<tr>
							<th>E-mail</th>
							<td>parita.g@webcodegenie.com</td>
						</tr>
						<tr>
							<th>Address</th>
							<td>shivam Appartment 2nd floor 5B rajivnagar porbandar-360575</td>
						</tr>
					</tbody></table>
				</div>
			</div>