<div class="post">
				<h2 class="title"><a href="#">Contact me</a></h2>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p><b>Phone no. : 6355847685</b> </p>
					<p><b>Whats app no. : 7874842285</b> </p>
                    <p><b>E-mail : parita.g@webcodegenie.com</b> </p>
					 <p><b> Alternate E-mail : pariganatra232@gmail.com</b> </p>
					<p><b>Instagram : ganatra_pari</b> </p>

					
				</div>
			</div>