<html>
<body>
<form method="post" >
    <table>
        <tr>
            <td>Name : </td>
            <td><input type="text" name="country_name"
                value="{{country_array.country_name}}" required> </td>
        </tr>
        
        <tr>
                <td> <input type="submit">
                <a href="/country/display"><input type="button" name="Display" value="Display"></a> </td>
        </tr>
    </table>
</form>
</body>
</html>