<form action="/user/login" method="POST">
  <label for="">E-mail</label>
  <input type="text" name="email" placeholder="Enter a email"><br>
  <label for="">Password :</label>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit">
  <a href="/user/userDisplay"><input type="button" name="Display" value="Display"></a>

  <a href="/user/forgot-password">Forgot Password</a>
  <a href="/user/signup">Create a New Account</a>
</form>