<html>
    <body>
        <form method="post" action="send">
            <div class="container">
                 Name:
                <input type="text" name="firstname" placeholder= "name" size="15" required />   <br/><br/>
                Email:
                <input type="text" placeholder="Enter Email" name="email" required>
                    <br/><br/>
                    Password:
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br/><br/>
                 Phone :
                <input type="text" name="country code" placeholder="Country Code"  value="+91" size="2"/>
                <input type="text" name="phone" placeholder="phone no." size="10"/ required>
                <br/><br/>
                <div>
                 Gender :  <br>
                <input type="radio" value="Male" name="gender" checked > Male
                <input type="radio" value="Female" name="gender"> Female
                <input type="radio" value="Other" name="gender"> Other
                </div>
                <br/>
            
                <button type="submit" class="registerbtn">Register</button>
            </div>
        </form>
    </body>
</html>

