<html>

<body>
     <a href="/admin-login">Login</a> | <a href="/admin-home">Home</a> | <a href="/admin-form">signup</a> |  <a href="/admin-changepw">Change Password</a> | <a href="/admin-display">Display</a>
    <form method="post" action="/admin-process">
        <h1>Admin-Form</h1>
        <table>
            <tr>
                <td>Admin Name</td>
                <td> <input type="text" placeholder="Enter Name" name="user_name"></td>
            </tr>
            <tr>
                <td>Admin Gender</td>
                <td>
                    <input type="radio" name="user_gender" value="Male"> Male
                    <input type="radio" name="user_gender" value="Female"> Female
                </td>
            </tr>
            <tr>
                <td>Admin DOB</td>
                <td>
                    <input type="date" name="user_dob">
                </td>
            </tr>
            <tr>
                <td>Admin Mobile</td>
                <td><input type="number" placeholder="Enter Mobile No" name="user_mobile"></td>
            </tr>
            <tr>
                <td>Admin Email</td>
                <td><input type="text" placeholder="Enter Email" name="user_email"></td>
            </tr>
            <tr>
                <td>Admin Password</td>
                <td><input type="text" placeholder="Enter Password" name="user_password"></td>
            </tr>

            <tr>
                <td>Are you Admin ?</td>
                <td> <select name="user_isadmin">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
        <a href="/admin-login">Login</a>
    </form>
</body>

</html>