<html>
<body>


    <form method="post" >
        <h1>Add SubCategory Record</h1>
        <table>
            <tr>
                <td>State Name : </td>
                <td> <input type="text" placeholder="Enter Category" name="state_name"></td>
            </tr>
            <tr>
                <h1>{{category_array}}</h1>
                <td>Country</td>
                <td> 
                    
                    <select name="_country">
                     {{#each category_array}}

                            <option value='{{_id}}'>{{country_name}}</option>
                           
                           {{/each}}
                    </select>
                </td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>