<form action="/category/addCategory" method="POST">
  <label for="">Category Name :</label>
  <input type="text" name="name" placeholder="Enter a name"><br>
  <input type="submit">
  <a href="/category/displayCategory"><input type="button" name="Display" value="Display"></a>
</form>