<form method="POST">
  <label for="">Category Name :</label>
  <input type="text" name="name" value="{{mydata.name}}" placeholder="Enter a name"><br>
  <input type="submit">
  <a href="/display"><input type="button" name="Display" value="Display"></a>
</form>