<!DOCTYPE html>
<html>
  
    <body>
    <center><h1>Parita Ganatra</h1></center>
    <hr/>
    <a href="/">Home</a> | <a href="/about">About</a>
    {{> news}}
    <hr/>
        {{{body}}}
    <hr/>
    <p>its demo of hanlebars</p>
  </body>
</html>
