<table>
    <tbody>
        <tr>
            <td>product ID</td>
            <td>:</td>
            <td> {{product_array._id }} </td>
        </tr>
        <tr>
            <td>product Name</td>
            <td>:</td>
            <td> {{product_array.product_name }}</td>
        </tr>
        <tr>
            <td>product Price</td>
            <td>:</td>
            <td> {{product_array.product_price }}</td>
        </tr>
        <tr>
            <td>product Img</td>
            <td>:</td>
            <td> {{product_array.product_image }}</td>
        </tr>
    </tbody>
</table>