<form action="/admin/signupprocess" method="POST">
  <label for="">Name :</label>
  <input type="text" name="name" placeholder="Enter a name"><br>
  <label for="">E-mail</label>
  <input type="text" name="email" placeholder="Enter a email"><br>
  <label for="">Password :</label>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit">
  <a href="admin/displayAdmin"><input type="button" name="Display" value="Display"></a>
</form>