{{#if myemail }}

<h1> Welcome to admin page {{myemail}}
    <a href="/admin/change-password">Change Password</a>
    <a href="/admin/logout">Logout</a>
</h1>

{{ else }}
<h1><a href="admin/login">Login</a></h1>
{{/if}}