<form action="/admin/loginProcess" method="POST">
  <label for="">E-mail</label>
  <input type="text" name="email" placeholder="Enter a email"><br>
  <label for="">Password :</label>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit">
  <a href="/admin/forgot-password">Forgot Password</a>
  <a href="/admin/signup">Create a New Account</a>
</form>