{{!-- <html>
<body>
     <a href="/login">Login</a> | <a href="/Home">Home</a> | <a href="/signup">signup</a> |  <a href="/change_password">Change Password</a> | <a href="/display_table">Display</a>
    <form method="post">
        <h1>Change Password</h1>
        <table>
            <tr>
                <td>Old Password</td>
                <td><input type="text" placeholder="Enter Old Password" name="opass" required></td>
            </tr>
            <tr>
                <td>New Password </td>
                <td><input type="text" placeholder="Enter New Password" name="npass" required></td>
            </tr>
            <tr>
                <td>Confirm Password </td>
                <td><input type="text" placeholder="Enter Confirm Password" name="cpass" required></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
        
    </form>
</body>

</html> --}}

 <html>
     <head></head>
     <body>
         	<!-- Modal1 -->
	<div>
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Change Password </h3>
				
						<form action="/change_password" method="post">
							<div class="styled-input agile-styled-input-top">
							<input type="text" placeholder="Enter Old Password" name="opass" required>
							</div>
							<div class="styled-input">
						<input type="text" placeholder="Enter New Password" name="npass" required>
							</div>
                            	<div class="styled-input">
                        <input type="text" placeholder="Enter Confirm Password" name="cpass" required>
							</div>
							<input type="submit" value="Change Password">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
	</div>
	<!-- //Modal1 -->
     </body>
 </html>