


    <h3> Hi,{{myemail}}
        <br><hr><br>
        <a href="/change_password">Change Password</a> <br>
        <a href="/display_table">Display User Details</a> <br>
        <a href="/logout">Logout</a> </h3>
    <h3><a href="/login">Login</a></h3>
  

 